<div id="mapPopup" class="map-popup" style="display:none">
	<div class="map-popup-tbl">
		<div class="map-popup-tbl-in">
			<div class="map-popup-content">
				<figure class="map-popup-content-image">
					<img src="assets/images/temp/large-01--xs.jpg"  width="768" height="384" alt="">
				</figure>

				<div class="map-popup-content-in">
					<div class="map-popup-stations">
						<i class="station station--tv"><span class="sr-only">4fun TV</span></i>
						<i class="station station--fit"><span class="sr-only">4fun FIT&amp;Dance;</span></i>
						<i class="station station--hits"><span class="sr-only">4fun HITS</span></i>
					</div>

					<h3 class="map-popup-title">Zatoka Sztuki, koncert Kayah</h3>
					<span class="map-popup-time">28-31 lipca 2015</span>

					<p>The outermost keys are the selectors where these snippets should be active. The easiest way to determine what this should be is to go to the language package of the language you want to add a snippet for and look for the “Scope” string.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<p>For example, if we wanted to add a snippet that would work for Java files, we would look up the language-java package in our Settings view and we can see the Scope is source.java. Then the top level snippet key would be that prepended by a period (like a CSS class selector would do).</p>
				</div>

				<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
		</div>
	</div>
</div>
